<mat-card
    *ngIf="(componentState$ | async)?.isExpanded === true"
    class="app__expanded-card"
    [class.control-only]="(mode$ | async) === modeEnum.ControlOnly"
>
    <mat-card-header>
        <mat-card-title>Sound Player</mat-card-title>

        <mat-card-subtitle *ngIf="isPlaying$ | async">
            <img src="/assets/img/sound-trans.gif" />
            <span class="primary">
                Playing
                {{ freqInKhz }} kHz for
                {{ durationInSeconds }}
                seconds...</span
            >
        </mat-card-subtitle>
        <mat-card-subtitle *ngIf="!(isPlaying$ | async)">
            {{ (mode$ | async) === modeEnum.ControlOnly ? "Disabled" : "Idle" }}
        </mat-card-subtitle>

        <span (click)="collapse()" class="material-icons app__expand-icon"
            >expand_less</span
        >
    </mat-card-header>
    <mat-icon
        *ngIf="(mode$ | async) === modeEnum.ControlOnly"
        title="
In Control Only mode, sounds will not be played on this device. To 
play sounds here, please switch to Control &amp; Play."
        class="volume-off"
        >volume_off</mat-icon
    >
</mat-card>

<mat-card
    *ngIf="(componentState$ | async)?.isExpanded === false"
    [class.control-only]="(mode$ | async) === modeEnum.ControlOnly"
    class="app__collapsed-card"
>
    <div class="app__collapsed-card-container">
        <div class="app__collapsed-card-title">Sound Player</div>
        <div class="app__collapsed-card-subtitle" *ngIf="isPlaying$ | async">
            <span class="primary">
                Playing
                {{ freqInKhz }} kHz for
                {{ durationInSeconds }}
                seconds...</span
            >
        </div>
        <div class="app__collapsed-card-subtitle" *ngIf="!(isPlaying$ | async)">
            {{ (mode$ | async) === modeEnum.ControlOnly ? "Disabled" : "Idle" }}
        </div>
        <span (click)="expand()" class="material-icons app__collapse-icon"
            >expand_more</span
        >
    </div>
</mat-card>
