.control-only {
    background-color: #eaeaea;
}

.primary {
    position: absolute;
    top: 54px;
    left: 85px;
}

.volume-off {
    position: absolute;
    right: 70px;
    top: 18px;
    font-size: 55px;
    color: #616060;
}
