/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f5f5f5;
}

.app__expand-icon,
.app__collapse-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    cursor: pointer;
}

.app__collapsed-card,
.app__expanded-card {
    margin-top: 16px;
    margin-bottom: 16px;

    .mat-card {
        padding: 10px !important;
        margin-top: 16px;
        margin-bottom: 16px;
    }
}

.app__collapsed-card {
    height: 16px;
    display: flex;

    .app__collapsed-card-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .app__collapsed-card-title {
        width:150px;
    }

    .app__collapsed-card-subtitle {
        // padding-top: 3px;
        font-size: 12px;
    }

    .mat-button-toggle {
        padding-top: 2px;
    }

    .mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
        height: 16px;
        line-height: 12px;
    }
}

.app__expanded-card {
    .mat-slider-thumb-label {
        transform: rotate(45deg) !important;
        border-radius: 50% 50% 0 !important;
    }

    .mat-slider-thumb {
        transform: scale(0) !important;
    }

    .mat-slider-thumb-label-text {
        opacity: 1 !important;
    }

    .mat-slider,
    .mat-form-field {
        width: 100%;
    }

    .mat-raised-button {
        width: 220px;
    }

    .mat-card-header-text {
        margin: 0 10px !important;
    }
}

//html, body { height: 100%; }
body {
    margin: 16px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.cdk-overlay-pane {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 94px;
}
