.sender__collapsed-card {
    height: 54px;
}

.sender__collapsed-card-subtitle {
    display: flex;
    gap: 10px;
}

.sender__collapsed-button {
    height: 43px;
}


fieldset {
    width: 100%;
    border: 0;
    text-align: center;

    legend {
        text-align: left;
        padding-left: 8px;
        padding-top: 20px;
        padding-bottom: 20px;
        color: #636363;
    }
}
